body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-input {
  margin-bottom: 20px;
}

.search-input ::placeholder {
  color: #fff!important;;
}

a:link {
  text-decoration: none;
  color: #04427d;
}

.remove-item {
  border: none;
  border-radius:100%;
  background-color:#000;
  width: 25px;
  color:#fff;
}

/* layout structure */
